*
{
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-color: #efeff2;
}

h1
{
    color: #01a1a1;
    font-size: 96px;
    text-align: center;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card
{
    width: 320px;
    border-radius: 30px;
    padding: 20px;
    background-color: aqua;
    box-shadow: 12px 12px 24px 0px #d1d5db,-12px -12px 24px -1px #ffffff;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
}